<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div>
    <%= f.label :first_name, style: "display: block" %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name, style: "display: block" %>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.label :grad_date, style: "display: block" %>
    <%= f.text_field :grad_date %>
  </div>

  <div>
    <%= f.label :major, style: "display: block" %>
    <%= f.select :major, options_for_select(Student::VALID_MAJORS), 
                  { prompt: "Select a Major" }, class: "form-control" %>
  </div>

  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
